@use "@hidoo/unit/src/settings";

/*
theme

The theme modifiers of #{settings.$prefix}-text.

Weight: -100

Style guide: #{settings.$prefix}-text.theme
*/

/*
modifiers: theme

The theme modifiers of for #{settings.$prefix}-text

Weight: -99

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$prefix}-text--theme-code - code text color with background (support color scheme)

Style guide: #{settings.$prefix}-text.theme.extend
*/
.#{settings.$prefix}-text--theme {
  &-code {
    padding: 2px 4px;
    border: 0;
    border-radius: 2px;

    color: rgb(var(--kss--color-foreground));
    white-space: nowrap;

    background-color: rgb(var(--kss--color-background-light));
  }
}
