@use "@hidoo/unit/src/lib/mixin";
@use "@hidoo/unit/src/settings";

/*
kss-layout-drawer

The drawer layout.

Markup: <div class="kss-layout-drawer{{#if modifier_class}}  {{modifier_class}}{{/if}}  #{settings.$prefix}-box  #{settings.$prefix}-box--theme-fill-main{{#if this.utils}}  {{this.utils}}{{/if}}  js-kss-drawer">
  <div class="kss-layout-drawer__drawer  #{settings.$prefix}-box  js-kss-drawer__drawer">
    drawer content
  </div>
  <div class="kss-layout-drawer__main  #{settings.$prefix}-box">
    main contents
    <button class="js-kss-drawer__toggle" type="button">toggle</button>
  </div>
</div>

Style guide: kss-layout.drawer
*/
.kss-layout-drawer {
  --kss__drawer-z-index: 60000;
  --kss__drawer-width: 240px;
  --kss__drawer-move-x: calc(var(--kss__drawer-width) * -1);
  --kss__viewport-height: 100vh;
  --kss__main-padding: 60px;
  --kss__main-padding-inline: var(--kss__main-padding);
  --kss__main-move-x: 0;
  --kss__tool-bar-height: 46px;
  --kss__transition-duration: 0.3s;
  --kss__easing: cubic-bezier(0.09, 0.58, 0.2, 0.95);

  @include mixin.breakpoint-define($until: "desktop") {
    --kss__main-padding: 40px;
  }

  @include mixin.breakpoint-define($until: "mobile") {
    --kss__main-padding-inline: 15px;
  }

  @include mixin.on-active() {
    --kss__drawer-move-x: 0;
    --kss__main-move-x: var(--kss__drawer-width);
  }

  overflow: clip;
  background-color: inherit;

  &__drawer {
    position: fixed;
    z-index: var(--kss__drawer-z-index);
    top: 0;
    left: 0;
    transform-origin: 0 0 0;
    transform: translate3d(var(--kss__drawer-move-x), 0, 0);

    overflow: auto;

    box-sizing: border-box;
    width: var(--kss__drawer-width);
    height: var(--kss__viewport-height);

    background-color: inherit;
    border-color: rgb(var(--kss--color-highlight));
    border-right-style: solid;
    border-right-width: 1px;

    transition: transform var(--kss__transition-duration) var(--kss__easing);
  }

  &__main {
    z-index: calc(var(--kss__drawer-z-index) - 3);
    transform-origin: 0 0 0;
    transform: translate3d(var(--kss__main-move-x), 0, 0);

    box-sizing: border-box;
    width: 100%;
    min-height: var(--kss__viewport-height);
    padding-top: calc(var(--kss__main-padding) + var(--kss__tool-bar-height));
    padding-bottom: var(--kss__main-padding);
    padding-inline: var(--kss__main-padding-inline);

    background-color: inherit;

    transition: transform var(--kss__transition-duration) var(--kss__easing);
  }

  > .kss-bar-tool {
    position: fixed;
    z-index: calc(var(--kss__drawer-z-index) - 2);
    top: 0;
    right: 0;
    left: 0;
    transform-origin: 0 0 0;
    transform: translate3d(var(--kss__main-move-x), 0, 0);

    margin: 0 auto;

    transition: transform var(--kss__transition-duration) var(--kss__easing);
  }
}
