@use "sass:map";
@use "../lib/mixin";
@use "../settings";

/*
border

The borders.

Weight: -100

Style guide: kss-u.border
*/

/*
modifiers: border

The extended border utilities.

Weight: -99

Markup: <div style="position:relative; padding: 50px;">
  <div class="{{modifier_class}}" style="position:relative; width:50px; height:50px; background:#999;"></div>
</div>

kss-u--border-highlight-top - Top border style with highlight color (support color scheme)

Style guide: kss-u.border.extend
*/
.kss-u--border {
  &-highlight {
    &-top {
      border-top-color: rgb(var(--kss--color-highlight));
      border-top-style: solid;
      border-top-width: 1px;
    }
  }
}
