<header class="kss-heading-menu  kss-c-box{{#each (split (or this.class '') '/\s?,\s?/')}}  {{this}}{{/each}}">
  <h1 class="kss-heading-menu__name  kss-c-text">{{packageName}}</h1>
  <p class="kss-heading-menu__version  kss-c-text">v{{packageVersion}}</p>
  <p class="kss-heading-menu__description  kss-c-text">{{packageDescription}}</p>
</header>
