<div class="kss-example-markup{{#if modifier_class}}  {{modifier_class}}{{/if}}  kss-c-box{{#each (split (or this.class '') '/\s?,\s?/')}}  {{this}}{{/each}}">
  <pre><code class="hljs handlebars html">{{{highlight this.markup lang='hbs'}}}</code></pre>
</div>
