<nav class="kss-bar-tool  kss-c-box  kss-c-box--theme-fill-main{{#each (split (or this.class '') '/\s?,\s?/')}}  {{this}}{{/each}}" rol="navigation" id="js-kss-tool-bar">
  <button class="kss-bar-tool__button-drawer  kss-c-button  js-kss-drawer__toggle" type="button">
    <span class="kss-c-icon  kss-c-icon--type-drawer">
      MENU
    </span>
  </button>
  {{~> @partial-block}}
</nav>
