@charset "utf-8";

// use settings with configure
@use "@hidoo/unit/src/settings" with (
  $prefix: "kss-c",
  $util-prefix: "kss-u",
  $selector-current: (
    ".is-kss-current",
    ".is-kss-current"
  ),
  $selector-active: (
    ".is-kss-active",
    ".is-kss-active"
  ),
  $font-enable-relative-size: false
);

// use units
@use "./unit";

// use util
@use "./util";

// use block
@use "./block";

// use layout
@use "./layout";

// use kss comment example
@use "./example";

// initialize
@use "./bootstrap";
