@use "@hidoo/unit/src/settings";

/*
theme

The theme modifiers of #{settings.$prefix}-box

Weight: -99

Style guide: #{settings.$prefix}-box.theme
*/

/*
modifiers: theme

modifiers of theme for #{settings.$prefix}-box

Weight: -99

Markup: <div class="#{settings.$prefix}-box  {{modifier_class}}">
  <div class="#{settings.$prefix}-box__container">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  util--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" loading="lazy" />
    </figure>
    <p class="#{settings.$prefix}-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-box--theme-fill-main - fill color type main (supports color scheme)

Style guide: #{settings.$prefix}-box.theme.extend
*/
.#{settings.$prefix}-box--theme {
  &-fill {
    &-main {
      --kss__bg-alpha: 1;

      color: rgb(var(--kss--color-foreground));

      background-color: rgb(var(--kss--color-background), var(--kss__bg-alpha));

      transition-timing-function: ease-out;
      transition-duration: 0.1s;
      transition-property: color, background-color;
    }
  }
}
